<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mapper.DataDictionaryMapper">

    <!--    App的发布状态查询-->
    <select id="queryAllAppStatus" resultType="com.liang.pojo.DataDictionary">
        SELECT id , type_code , value_id , value_name
        from data_dictionary
        WHERE type_code = 'APP_STATUS'
    </select>

    <!--    App的平台查询-->
    <select id="queryAllAppFlatform" resultType="com.liang.pojo.DataDictionary">
        SELECT id , type_code , value_name
        from data_dictionary
        WHERE type_code = 'APP_FLATFORM';
    </select>


</mapper>